  @media only screen and (max-width: 800px) {

.nav-header{
  display: flex;
  justify-content: space-between;
  background: white;
  padding: .3rem 0;
  box-shadow: 5px 10px 10px rgba(5, 5, 5, 0.1);
}

.links-container {
   list-style-type: none;
  line-height: 2rem;
  padding-left: 1.5rem;
  box-shadow: 5px 10px 10px rgba(5, 5, 5, 0.1);
}
.links-container a{
  text-decoration: none;
  color: rgb(69, 68, 68);
  text-transform: capitalize;
  font-size: large;
}
.links-container a:hover{
  font-size: larger;
  color: rgb(131, 131, 244);
  
}
.social-icons{
  display: none;
}
.links-container{
  display: none;
}
.show-container{
  display: block;
}

.nav-toggle{
  font-size: x-large;
  background-color: white;
  border: none;
  color: rgb(109, 109, 237);
}

}
 
  
